<div class="row row-eq-height">
	<div class="col-xs-2 bordered air">
		<span id="name-label" class="property-label">Air Crystals:</span> <span>{{$ctrl.air}}</span>
	</div>
	<div class="col-xs-2 bordered earth">
		<span id="name-label" class="property-label">Earth Crystals:</span> <span>{{$ctrl.earth}}</span>
	</div>
	<div class="col-xs-2 bordered fire">
		<span id="name-label" class="property-label">Fire Crystals:</span> <span>{{$ctrl.fire}}</span>
	</div>
	<div class="col-xs-2 bordered water">
		<span id="name-label" class="property-label">Water Crystals:</span> <span>{{$ctrl.water}}</span>
	</div>
	<div class="col-xs-2 bordered blended">
		<span id="name-label" class="property-label">Blended Crystals:</span> <span>{{$ctrl.blended}}</span>
	</div>
	<div class="col-xs-2 bordered void">
		<span id="name-label" class="property-label">Void Crystals:</span> <span>{{$ctrl.void}}</span>
	</div>
</div>