<fieldset class="form">
  <div class="fieldcontain">
    <label for="prereqSpecies">Prereq Species</label>
    <select name="prereqSpecies" id="prereqSpecies" ng-model="vm.feat.prereqSpecies" ng-options="species for species in vm.speciesList track by species.id"></select>
  </div>
  <div class="fieldcontain">
    <label for="level">Level</label>
    <input name="level" id="level" ng-model="vm.feat.level" type="number" />
  </div>
  <div class="fieldcontain">
    <label for="sustainable">Sustainable</label>
    <input name="sustainable" id="sustainable" ng-model="vm.feat.sustainable" ng-init="vm.feat.sustainable = false" type="checkbox" />
  </div>
  <div class="fieldcontain required">
    <label for="prereqFeat">Prereq Feat
      <span class="required-indicator">*</span>
    </label>
    <select required="" name="prereqFeat" id="prereqFeat" ng-model="vm.feat.prereqFeat" ng-options="feat for feat in vm.featList track by feat.id"></select>
  </div>
  <div class="fieldcontain">
    <label for="visiable">Visiable</label>
    <input name="visiable" id="visiable" ng-model="vm.feat.visiable" ng-init="vm.feat.visiable = false" type="checkbox" />
  </div>
  <div class="fieldcontain">
    <label for="description">Description</label>
    <input name="description" id="description" ng-model="vm.feat.description" type="text" />
  </div>
  <div class="fieldcontain">
    <label for="prereqClass">Prereq Class</label>
    <select name="prereqClass" id="prereqClass" ng-model="vm.feat.prereqClass" ng-options="classes for classes in vm.classesList track by classes.id"></select>
  </div>
  <div class="fieldcontain">
    <label for="type">Type</label>
    <input name="type" id="type" ng-model="vm.feat.type" type="text" />
  </div>
  <div class="fieldcontain">
    <label for="body">Body</label>
    <input name="body" id="body" ng-model="vm.feat.body" type="number" />
  </div>
  <div class="fieldcontain">
    <label for="itemsCrafted">Items Crafted</label>
    <input name="itemsCrafted" id="itemsCrafted" ng-model="vm.feat.itemsCrafted" type="number" />
  </div>
  <div class="fieldcontain">
    <label for="armour">Armour</label>
    <input name="armour" id="armour" ng-model="vm.feat.armour" type="number" />
  </div>
  <div class="fieldcontain">
    <label for="mana">Mana</label>
    <input name="mana" id="mana" ng-model="vm.feat.mana" type="number" />
  </div>
  <div class="fieldcontain">
    <label for="name">Name</label>
    <input name="name" id="name" ng-model="vm.feat.name" type="text" />
  </div>
  <div class="fieldcontain">
    <label for="takeMoreThenOnce">Take More Then Once</label>
    <input name="takeMoreThenOnce" id="takeMoreThenOnce" ng-model="vm.feat.takeMoreThenOnce" ng-init="vm.feat.takeMoreThenOnce = false" type="checkbox" />
  </div>
</fieldset>