<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="feat.create" class="create">New Feat</a></li>
    </ul>
</div>
<div id="list-feat" class="content scaffold-list" role="main">
    <h1>Feat List</h1>
    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Prereq Species</th>
      <th>Level</th>
      <th>Sustainable</th>
      <th>Prereq Feat</th>
      <th>Visiable</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{'even': $index%2 == 0, 'odd': $index%2 == 1}" ng-repeat="feat in vm.featList">
      <td>
        <a ui-sref="feat.show({id: feat.id})">{{feat.id}}</a>
      </td>
      <td>
        <a ui-sref="species.show({id: feat.prereqSpecies.id})">{{feat.prereqSpecies.toString()}}</a>
      </td>
      <td>
        <span>{{feat.level}}</span>
      </td>
      <td>
        <span>{{feat.sustainable}}</span>
      </td>
      <td>
        <a ui-sref="feat.show({id: feat.prereqFeat.id})">{{feat.prereqFeat.toString()}}</a>
      </td>
      <td>
        <span>{{feat.visiable}}</span>
      </td>
      <td>
        <span>{{feat.description}}</span>
      </td>
    </tr>
  </tbody>
</table>
    <!--    <div class="pagination">
            <g:paginate total="${partCount ?: 0}" />
        </div>-->
</div>