<fieldset class="form">
  <div class="fieldcontain">
    <label for="character">Character</label>
    <select name="character" id="character" ng-model="vm.characterFeat.character" ng-options="playerCharacter for playerCharacter in vm.playerCharacterList track by playerCharacter.id"></select>
  </div>
  <div class="fieldcontain">
    <label for="effect">Effect</label>
    <select name="effect" id="effect" ng-model="vm.characterFeat.effect" ng-options="effect for effect in vm.effectList track by effect.id"></select>
  </div>
  <div class="fieldcontain">
    <label for="source">Source</label>
    <input name="source" id="source" ng-model="vm.characterFeat.source" type="text" />
  </div>
  <div class="fieldcontain">
    <label for="feat">Feat</label>
    <select name="feat" id="feat" ng-model="vm.characterFeat.feat" ng-options="feat for feat in vm.featList track by feat.id"></select>
  </div>
  <div class="fieldcontain">
    <label for="open">Open</label>
    <input name="open" id="open" ng-model="vm.characterFeat.open" ng-init="vm.characterFeat.open = false" type="checkbox" />
  </div>
</fieldset>