<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="characterFeat.create" class="create">New CharacterFeat</a></li>
    </ul>
</div>
<div id="list-characterFeat" class="content scaffold-list" role="main">
    <h1>CharacterFeat List</h1>
    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Character</th>
      <th>Effect</th>
      <th>Source</th>
      <th>Feat</th>
      <th>Open</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{'even': $index%2 == 0, 'odd': $index%2 == 1}" ng-repeat="characterFeat in vm.characterFeatList">
      <td>
        <a ui-sref="characterFeat.show({id: characterFeat.id})">{{characterFeat.id}}</a>
      </td>
      <td>
        <a ui-sref="playerCharacter.show({id: characterFeat.character.id})">{{characterFeat.character.toString()}}</a>
      </td>
      <td>
        <a ui-sref="effect.show({id: characterFeat.effect.id})">{{characterFeat.effect.toString()}}</a>
      </td>
      <td>
        <span>{{characterFeat.source}}</span>
      </td>
      <td>
        <a ui-sref="feat.show({id: characterFeat.feat.id})">{{characterFeat.feat.toString()}}</a>
      </td>
      <td>
        <span>{{characterFeat.open}}</span>
      </td>
    </tr>
  </tbody>
</table>
    <!--    <div class="pagination">
            <g:paginate total="${partCount ?: 0}" />
        </div>-->
</div>