<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a class="list" ui-sref="characterFeat.list" class="list">CharacterFeat List</a></li>
        <li><a class="create" ui-sref="characterFeat.create" class="create">New CharacterFeat</a></li>
    </ul>
</div>
<div id="show-part" class="content scaffold-show" role="main">
    <h1>Show CharacterFeat</h1>
    <ol class="property-list characterFeat">
  <li class="fieldcontain">
    <span id="character-label" class="property-label">Character</span>
    <div class="property-value" aria-labelledby="character-label">
      <a ui-sref="playerCharacter.show({id: vm.characterFeat.character.id})">{{vm.characterFeat.character.toString()}}</a>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="effect-label" class="property-label">Effect</span>
    <div class="property-value" aria-labelledby="effect-label">
      <a ui-sref="effect.show({id: vm.characterFeat.effect.id})">{{vm.characterFeat.effect.toString()}}</a>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="source-label" class="property-label">Source</span>
    <div class="property-value" aria-labelledby="source-label">
      <span>{{vm.characterFeat.source}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="feat-label" class="property-label">Feat</span>
    <div class="property-value" aria-labelledby="feat-label">
      <a ui-sref="feat.show({id: vm.characterFeat.feat.id})">{{vm.characterFeat.feat.toString()}}</a>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="open-label" class="property-label">Open</span>
    <div class="property-value" aria-labelledby="open-label">
      <span>{{vm.characterFeat.open}}</span>
    </div>
  </li>
</ol>
    <form ng-submit="vm.delete()">
        <fieldset class="buttons">
            <a class="edit" ui-sref="characterFeat.edit({id: vm.characterFeat.id})">Edit</a>
            <input class="delete" type="submit" value="Delete" onclick="return confirm('Are you sure?');" />
        </fieldset>
    </form>
</div>