<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="playerCharacter.create" class="create">New PlayerCharacter</a></li>
    </ul>
</div>
<div id="list-playerCharacter" class="content scaffold-list" role="main">
    <h1>PlayerCharacter List</h1>
    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Alive</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{'even': $index%2 == 0, 'odd': $index%2 == 1}" ng-repeat="playerCharacter in vm.playerCharacterList">
      <td>
        <a ui-sref="playerCharacter.show({id: playerCharacter.id})">{{playerCharacter.id}}</a>
      </td>
      <td>
        <span>{{playerCharacter.alive}}</span>
      </td>
      <td>
        <span>{{playerCharacter.name}}</span>
      </td>
    </tr>
  </tbody>
</table>
    <!--    <div class="pagination">
            <g:paginate total="${partCount ?: 0}" />
        </div>-->
</div>