
<div class="row row-eq-height">
	<div class="col-xs-4 bordered">
		<span id="name-label" class="property-label">Player:</span> <span>{{vm.character.user.name}}</span>
	</div>
	<div class="col-xs-4 bordered">
		<span id="name-label" class="property-label">Character:</span> <span>{{vm.character.name}}</span>
	</div>
	<div class="col-xs-4 bordered">
		<span id="name-label" class="property-label">Species:</span> <span>{{vm.character.species.name}}</span>
	</div>
</div>
<div class="row row-eq-height">
	<div class="col-xs-3 bordered">
		<span id="name-label" class="property-label">Body:</span> <span>{{vm.character.body}}</span>
	</div>
	<div class="col-xs-3 bordered">
		<span id="name-label" class="property-label">Armour:</span> <span>{{vm.character.armour}}</span>
	</div>
	<div class="col-xs-3 bordered">
		<span id="name-label" class="property-label">Mana:</span> <span>{{vm.character.mana}}</span>
	</div>
	<div class="col-xs-3 bordered">
		<span id="name-label" class="property-label">XP:</span> <span>{{vm.character.xp}}</span>
	</div>
</div>
<div class="row row-eq-height">
	<div class="col-xs-2 bordered">
		<span id="name-label" class="property-label">Classes:</span>
		<ul id="single">
			<li ng-repeat="classes in vm.character.classes"><a
				ui-sref="classes.show({id: classes.id})">{{classes.name}} {{classes.level}}</a>
			</li>
		</ul>
	</div>
	<div class="col-xs-10 bordered">
		<span id="name-label" class="property-label">Feat:</span>
		<ul id="triple">
			<li ng-repeat="characterFeat in vm.character.feat"><a
				ui-sref="characterFeat.show({id: characterFeat.id})">{{characterFeat.feat.name}} {{characterFeat.effect.name}}</a>
			</li>
		</ul>
	</div>
</div>
<div class="row row-eq-height">
	<div class="col-xs-10 bordered">
		<span id="name-label" class="property-label">Spells:</span>
		<ul id="double">
			<li ng-repeat="characterSpell in vm.character.spell"><a
				ui-sref="characterSpell.show({id: characterSpell.id})">
					{{characterSpell.spell.name}} {{characterSpell.effect1.effect}} {{characterSpell.effect2.effect}}</a> (Mana:
				{{characterSpell.spell.level}})</li>
		</ul>
	</div>
	<div class="col-xs-2 bordered">
		<span id="name-label" class="property-label">Lores:</span>
		<ul id="single">
			<li ng-repeat="lore in vm.character.lore"><a
				ui-sref="lore.show({id: lore.id})">{{lore.name}}</a></li>
		</ul>
	</div>
</div>
